@model MRWorld.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
}

<h2>@Model.Name</h2>

<br/>
<br/>
<h3 style="color: darkcyan"><u>Description</u></h3>
<p style="color:saddlebrown">@Model.Description</p>

<br />
<br />

<h3 style="color: darkcyan"><u>Release Date: </u></h3><h3></h3>
<p style="color: brown">@Model.ReleaseDate</p>

<br/>

<h3 style="color: darkcyan"><u>Rating</u></h3>
<p style="color: maroon">@Model.Rating</p>