@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<hr/>

<p>Welcome to Movie Rating World . This Project Start from 29/01/2019. </p>
<p>This project was build to use as a tool for movie lovers community.</p>
<p>They can add review about the movie they just watched. Also they can get suggestion about new movie from other users</p>
<p>So, Hope For the best, Enjoy................</p>


<br/>
<br/>
<br/>
<br/>
<hr/>
<blockquote class="blockquote text-right">
    <p class="mb-0">Sign out From</p>
    <footer class="blockquote-footer">Md. Minhaz uddin<cite title="Source Title">,   Student Assistant</cite></footer>
</blockquote>

