
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<script>
    
    var x;
    $(document).ready(function() {
        console.log("Ready 100%");
        x = 0;
    });

    function addData() {
        var name = $("#mName").val();
        var genre = $("#mGenre").val();
        var date = $("#rDate").val();
        var rating = $("#rating").val();
        var description = $("#des").val();
        console.log("click" + (x++));
        




        $.ajax({
            type: "POST",
            url: '@Url.Action("AddMovieData")',
            data: { name: name, genre: genre, date: date, rating: rating,description:description },
            success: function (result) {

                
                if (result.Message === "Success") {
                    alert("Movie Added");
                } else {
                    alert(result.Message);
                }
            },
            error: function (err) {
                console.error(err);
            }
        });
    }


   

</script>



<h2>Add New Movie</h2>



<table class="table table-primary">
    <tr>
        <td>Movie Name: </td>
        <td><input type="text" id="mName" class="form-group col-md-10" /></td>
    </tr>
    <tr>
        <td>Genre: </td>
        <td><select id="mGenre" class="form-group col-md-10">
            <option>Thriller</option>
            <option>Action</option>
            <option>Adventure</option>
            <option>Horror</option>
            <option>Romance</option>
        </select></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><textarea class="form-group col-md-10" id="des"></textarea></td>
    </tr>
    <tr>
        <td>Release Date: </td>
        <td><input type="date" id="rDate" class="form-group col-md-10" /></td>
    </tr>
    <tr>
        <td>Rating: </td>
        <td><input type="number" id="rating" class="form-group col-md-10" max="10" min="0"/></td>
    </tr>
    
    <tr>
        <td><button class="btn btn-outline-primary" id="add" onclick="addData()">Add Movie</button></td>
    </tr>
</table>

