@model MRWorld.Models.Users
@{
    ViewBag.Title = "UserData";
}

<h2>UserData</h2>

<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p>@Model.Email</p>
</div>
<p>Movie Added: @Model.MovieAdded</p>
<p></p>
